/* footer */
footer {
    font-size: 0.5em;
    background-color: $azulOs;
    text-align:start;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}

footer img {
    width:280px;

}

footer a img {
    width: 30px;
}



