header {
    padding: 10px 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;




    .logo{
        justify-content: start;
        a {
            font-size: 2em;
        }
    }
    .menuPrincipal {
        width: 100%;
        display: flex;
        justify-content: center;
        .botonMenu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;  
        }                
    }
    .btn-primary {
        width: 100px;
        font-size: 1.5rem;
        background-color: $verdeCl;
        color: black;
        border: 0;
        
    }
    .btn:hover{
        background-color: $verdeOs;
    }
    .btn:active{
        background-color: $azulOs;
    }
     
}
.nav{
    padding-left: 30px;
    .login{
        display: flex;
        font-size: 1.5em;
        flex-wrap: wrap;
        justify-content: flex-end;
        border: 0;
        margin-right: 20px;
        margin-bottom: 20px;
        input{
            margin: 2px;
            width: 80%;
            
        }
        button{
            width: 100px;
        }
    }
}